h1 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin-top: 5rem;
}
.grid_2-2 p {
  text-align: center;
  font-family: Cormorant Garamond, serif;
  font-weight: 500;
  font-size: 20px;
}
main h2 {
  text-align: center;
  font-weight: lighter;
  font-family: Montserrat, sans-serif;

  margin-top: 2rem;
  color: black;
}

@media (min-width: 600px) {

  /**
  .header_nav_ul {
    position: sticky;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    font-size: 1rem;
    list-style-type: none;
  }
  .header_nav_ul li {
    flex-basis: 100px;
    white-space: nowrap;
  }

  header a {
    text-decoration: none;
  }
**/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--baggrund);
}
header nav ul {
  display: flex;
  list-style: none;

  /* align-items: center; */
  gap: 4rem;
}

header nav ul a {
  color: black;
  text-decoration: none;
}
header img {
  border-radius: 0;
  width: 6rem;
  padding: 0;
  margin: 0;
}

/*------------------- Menu på mobil ---------------------*/
@media (max-width: 800px) {
  nav {
    --less-than: 800;
    --burger-lines: #000000;
    --burger-border: #000000;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
  }
  header a {
    text-decoration: none;
    /* color: #e6d1b5;
    text-shadow: 2px 2px #730202;
    font-size: 2rem;
    font-family: "courier_prim";
    font-weight: 700; */
    padding: 50px;
  }

  header {
    position: static;
  }
}
@media (min-width: 800px) {
  
  /*------------------- Menu ---------------------*/

  header {
    padding: 10px;
  }
  /* -------- Logo menu ---------- */
  #logo {
    height: 100px;
    width: auto;
  }

  .grid_2-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    margin-left: 50px;
    padding-bottom: 50px;
    column-gap: 10rem;
  }
  .order {
    order: -1;
    gap: 10px;
    margin-right: 20px;
    gap: 10px;
  }
  .skaenk {
  }
  .skaenk2 {
    margin-bottom: 4rem;
  }
  .tekst {
    margin-bottom: 2rem;
  }
}
