/*-----------------reset-----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "pt_serifregular", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* ---------- CSS variabler ------------- */
/* ----Farver----- */

html {
  --primary: #095949;
  --baggrund: #eae5df;
  /* syntaks
  color: var(--primary);

  (Det betyder at: var(--primary) = #095949
   */
}
/* ----- MENU ----- */
/* -------- Nav ---------- */
.header_nav_ul {
  position: sticky;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  font-size: 1rem;
  list-style-type: none;
}
.header_nav_ul li {
  flex-basis: 100px;
  white-space: nowrap;
}

header a {
  text-decoration: none;
}

/* -------- Logo menu ---------- */
#logo {
  height: 100px;
  width: auto;
}
/* ----- FORSIDE ----*/

.grid1 {
  display: grid;
  grid-template-columns: 1fr;
}
.titel {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.forsideimg {
  grid-column: 1/2;
  grid-row: 1/2;
}

@media (min-width: 600px) {
  /* ----- FORSIDE ----*/
  .forsideh1_1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
  }

  .forsideh1_2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
  }

  .grid1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
  }
}
