/*-----------------reset-----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "pt_serifregular", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* ---------- CSS variabler ------------- */
/* ----Farver----- */

html {
  --primary: #095949;
  --baggrund: #eae5df;
  /* syntaks
  color: var(--primary);

  (Det betyder at: var(--primary) = #095949
   */
}
/* ----- MENU ----- */
/* -------- Nav ---------- */
.header_nav_ul {
  position: sticky;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  font-size: 1rem;
  list-style-type: none;
}
.header_nav_ul li {
  flex-basis: 100px;
  white-space: nowrap;
}

header a {
  text-decoration: none;
}

/* -------- Logo menu ---------- */
#logo {
  height: 100px;
  width: auto;
}
/* ----- FORSIDE ----*/
.forsideimg {
}
