/*-----------------reset-----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "pt_serifregular", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 600px) {
  /* order */
  .omos_grid {
    display: grid;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  .order3 {
    order: 3;
  }
  .order4 {
    order: 4;
  }
  .order5 {
    order: 5;
  }
  .order6 {
    order: 6;
  }
  .order7 {
    order: 7;
  }
  .order8 {
    order: 8;
  }
}
/*  */

main {
  padding: 1rem; /* kun på mobil */
}
/* Copy */
main h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;

  /* kun på mobil */
  /* margin-top: 2rem; */
}

main h1 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5rem;
  text-align: center;
}

main p {
  font-family: "Martel Sans", sans-serif;
}

.under_skrift {
  font-family: "Cormorant Garamond", serif;

  font-weight: 200;
  font-size: 1.3rem;
}

/* knap */
.knap_grid {
  display: grid;
  place-content: center;
}

.knap {
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 10px;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  text-decoration: none;
}

.knap:hover {
  color: var(--baggrund);
  background-color: var(--primary);
}
/* faktaboks */
.faktaboks {
  background-color: white;
  border: 2px solid var(--primary);
  border-radius: 30px;
  padding: 1rem;

  /* kun mobil: */
  margin: 0rem 0 0rem 0;
}
.faktaboks h2 {
  text-align: center;
  margin: 1rem 0 2rem 0;
}

.faktaboks ul {
  display: grid;
  gap: 1.3rem;
  list-style: disc;
  margin: 0 0 0 3rem;
}

.faktaboks ul li {
  font-size: 1rem;
  font-family: "Martel Sans", sans-serif;
  line-height: 1.5rem;
}

/* Omos titel */
#omos_titel p {
  text-align: center;
  font-family: "Martel Sans", sans-serif;
  font-size: 1.2rem;
}

#omos_titel {
  margin: 3rem 0 4rem 0;
}

/*-- klasser --*/
.omos_tekstboks {
  padding-left: 2rem;
  border-left: 2px solid var(--primary);

  /* kun mobil: */
  margin: 2rem 0 6rem 0;
}
.billede_sted1 {
  aspect-ratio: 2/3;
  height: 800px;
  background-color: black;
}
.billede_sted2 {
  aspect-ratio: 2/3;
  height: 800px;
  background-color: black;
}

.under_skrift {
  margin: 0 0 1rem 0;
  font-style: italic;
  font-weight: bold;
}

#omos_titel .siden {
  font-family: "Martel Sans", sans-serif;
  font-weight: 700;
}
@media (min-width: 600px) {
  /* rettelser efter "kun på mobil" */

  .omos_tekstboks {
    margin: 0;
  }
  .faktaboks {
    margin: 0;
  }

  main {
    margin-bottom: 5rem;
  }

  /* grids */
  .omos_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

/* -----------------------------MENUUUU----------------------------- */
/* ----- MENU ----- */
/* -------- Nav ---------- */
/* .header_nav_ul {
  position: sticky;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  font-size: 1rem;
  list-style-type: none;
}
.header_nav_ul li {
  flex-basis: 100px;
  white-space: nowrap;
}

header a {
  text-decoration: none;
}
/* -------- Logo menu ---------- */
/* #logo {
  height: 100px;
  width: auto;
} */

/* header {
  display: flex;
  align-items: center;
} */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--baggrund);
}
header nav ul {
  display: flex;
  list-style: none;

  /* align-items: center; */
  gap: 4rem;
}

header nav ul a {
  color: black;
  text-decoration: none;
}
header img {
  border-radius: 0;
  width: 6rem;
  padding: 0;
  margin: 0;
}

/*------------------- Menu på mobil ---------------------*/
@media (max-width: 800px) {
  nav {
    --less-than: 800;
    --burger-lines: #000000;
    --burger-border: #000000;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
  }
  header a {
    text-decoration: none;
    /* color: #e6d1b5;
    text-shadow: 2px 2px #730202;
    font-size: 2rem;
    font-family: "courier_prim";
    font-weight: 700; */
    padding: 50px;
  }

  header {
    position: static;
  }
}
@media (min-width: 800px) {
  
  /*------------------- Menu ---------------------*/

  header {
    padding: 10px;
  }

  /* header nav,
  header nav ul {
    height: 100%;
  }

  header nav {
    align-items: center;
    margin-left: auto;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    align-items: center;
  }
  header a {
    text-decoration: none;
    color: #e6d1b5;
    font-size: 2rem;
    font-family: "courier_prim";
    font-weight: 700;
    padding: 0 50px;
  }

  header a:hover {
    color: azure;
  }
  header img {
    border-radius: 0;
    width: 3rem;
    padding: 0;
    margin: 0;
  } */
}
