main {
  margin-bottom: 5rem;
}
/* Copy */
main h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
}

main h1 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  text-align: center;
}

main p {
  font-family: "Martel Sans", sans-serif;
}

.under_skrift {
  font-family: "Cormorant Garamond", serif;

  font-weight: 200;
  font-size: 1.3rem;
}

/* knap */
.knap_grid {
  display: grid;
  place-content: center;
}

.knap {
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 10px;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  text-decoration: none;
}
/* faktaboks */
.faktaboks {
  background-color: white;
  border: 2px solid var(--primary);
  border-radius: 30px;
}
.faktaboks h2 {
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.faktaboks ul {
  list-style: disc;
  margin: 0 0 0 7rem;
}

/* Omos titel */
#omos_titel p {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
}

#omos_titel {
  margin: 3rem 0 3rem 0;
}

/*-- klasser --*/
.omos_tekstboks {
  padding-left: 2rem;
  border-left: 2px solid var(--primary);
}
.billede_sted1 {
  aspect-ratio: 2/3;
  height: 800px;
  background-color: black;
}
.billede_sted2 {
  aspect-ratio: 2/3;
  height: 800px;
  background-color: black;
}

.under_skrift {
  margin: 0 0 1rem 0;
}

#omos_titel .siden {
  font-family: "Martel Sans", sans-serif;
  font-weight: 700;
}
@media (min-width: 600px) {
  .omos_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}
